<footer>
    <div class="footerTop">
        <div class="container">
            <h2>Hottest deals delivered to your inbox!</h2>
            <div class="input-group newsletter">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <span class="input-group-btn"><button class="btn btn-default" type="button">Sign up!</button></span>                            
            </div>
        </div>
    </div>
    <div class="footerMid">
        <div class="container">
            <ul class="footerLinks pull-left">
                <li><a href="javascript:void(0);">Legal</a></li>
                <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                <li><a href="javascript:void(0);">Contact Us</a></li>
                <li><a href="javascript:void(0);">Security</a></li>
                <li><a href="javascript:void(0);">Privacy</a></li>
                <li><a href="javascript:void(0);">Cookie</a></li>                                                
            </ul>
            <ul class="socialLinks pull-right">
                <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
            </ul>                
        </div>
    </div>
    <div class="footerBottom center">
        <div class="container">
            <div class="copyright">&copy; GoSearchTravel. 2017  /  Designed by: <a href="http://accenza.com/" target="_blank">ACCENZA</a></div>
        </div>
    </div>
</footer>
    
<div id="toTop" class="toTop" style="display: none;"></div>
